{% extends "layout.html"%}{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h1 m-4 text-success text-center">PREPARE YOUR EVENT</h1>
  <p />

  <form action="" method="POST">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 mb-4">
        <!-- Name Input -->
        <p class="text-lg mb-0">Name your event</p>
        <input
          type="text"
          class="form-control mb-3"
          name="title"
          autocomplete="off"
          value="{{title}}"
        />

        <!-- Event Description -->
        <p class="text-lg mb-0">Add a description</p>
        <input
          type="text"
          class="form-control mb-3"
          name="description"
          autocomplete="off"
          value="{{description}}"
        />

        <!-- Event Hour-->
        <p class="text-lg mb-0">Type an hour</p>
        <input
          type="text"
          class="form-control mb-3"
          placeholder="Examples: 17:45, 20:30"
          name="etime"
          autocomplete="off"
          value="{{eventTime}}"
        />

        <!-- Date Picker -->
        <p class="text-lg mb-0">Select a date</p>
        <input
          type="date"
          class="form-control dp mb-0"
          name="eDate"
          autocomplete="off"
          value="{{eventDate}}"
        />

        <!-- Validation error -->
        <p p class="text-sm text-danger m-0">{{errorMessage}}</p>

        <!--Create Event Button-->
        <div class="row justify-content-center m-4">
          <div class="my-2">
            <a href="" class="btn btn-success btn-icon-split btn-lg">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <input
                type="submit"
                value="Create Event"
                class="btn btn-success btn-icon-split btn-lg m-2"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- End of Main Content -->
</div>
{% endblock %}
