{% extends 'layout.html' %}

{% block head %}
<title>Invite Friends</title>
<!-- Custom fonts for this template -->
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

<!-- global JS variables from flask-->


<!-- Begin Page Content -->
<c class="container-fluid">
  {% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">INVITE FRIENDS TO YOUR EVENT!</h1>
  <p></p>

  <!--Friends Cards-->
  <div class="row align-items-center justify-content-center m-4">
    <!--Invite All Friends to Event Btn-->
    <form action="/inviteFriends" method="POST">
      <div class="my-2">
        <a href="#" class="btn btn-info btn-lg">
          <input type="text" name="list" value="{{friends}}" hidden="true" />
          <input type="submit" value="Invite All" class="btn btn-info btn-lg m-2" />
        </a>
      </div>
    </form>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-9 m-4">
      {% for friend in friends %}
      <form action="/inviteFriends" method="POST">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-lg font-weight-bold text-info text-uppercase mb-0">
                  {{friend['username']}}
                </div>
              </div>
              <input type="text" name="friendId" value="{{friend['userId']}}" hidden="true" />
              <input type="submit" value="invite" />
            </div>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
  {% endblock content%}

  <!-- /.container-fluid -->
  <!-- End of Main Content -->