{% extends 'layout.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->

  <!-- Name INput -->
  <div class="row">
    <div class="col-lg-6 justify-content-center align-items-center row">
      <h1 class="h1 text-gray-800">MODIFY YOUR EVENT</h1>
      <div class="card col-lg-11 mb-2 shadow">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-warning text-center">
            Event Details
          </h5>
        </div>
        <form
          action="{{ url_for('modifyEvent',event = eventId) }}"
          method="POST"
        >
          <p class="text-lg mb-0">Name of Event</p>
          <input
            type="text"
            class="form-control"
            name="title"
            value="{{ eventTitle }}"
            autocomplete="off"
          />

          <!-- Event Description -->
          <p class="text-lg mb-0">Description</p>
          <input
            type="text"
            class="form-control mb-2"
            name="description"
            value="{{ eventDescription }}"
            autocomplete="off"
          />

          <!-- Hours Dropdown-->
          <p class="text-lg mb-0">Hour</p>
          <input
            type="text"
            class="form-control mb-2"
            name="eventTime"
            value="{{ eventTime }}"
            autocomplete="off"
            placeholder="Example: 17:30, 20:15"
          />

          <!-- Date Picker -->
          <p class="text-lg mb-0">Date</p>
          <input
            type="date"
            class="form-control dp"
            name="eventDate"
            value="{{ eventDate }}"
            autocomplete="off"
          />

          <!-- Validation error -->
          <p p class="text-sm text-danger m-0">{{errorMessage}}</p>

          <!--Modify Event Button-->
          <div class="row justify-content-center m-2">
            <a class="btn btn-warning btn-icon-split btn-lg m-2">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <input
                type="submit"
                value="Modify Details"
                class="btn btn-warning btn-icon-split btn-lg m-2"
              />
            </a>
          </div>
        </form>
        <!--Cancel Event Button-->
        <form action="" method="POST">
          <div class="row justify-content-center mb-2">
            <a href="" class="btn btn-danger btn-icon-split btn-lg m-2">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <input
                type="text"
                name="cancel"
                value="{{eventId}}"
                hidden="true"
              />
              <input
                type="submit"
                value=" Cancel Event "
                class="btn btn-danger btn-icon-split btn-lg m-2"
              />
            </a>
          </div>
        </form>
      </div>
    </div>

    <!--BioRyhthm TYpe-->
    <div class="col-lg-6 justify-content-center align-items-center row">
      <div class="card col-lg-11 m-2 border-left-success shadow">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="font-weight-bold text-success text-uppercase mb-1">
                Event's BioRythm
              </div>
              <div
                class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase"
              >
                {{eventBR}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dna fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>

      <!--Friends Invited Cards-->
      <div class="card col-lg-11 m-2 shadow">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-info text-center">
            Invited Friends
          </h5>
        </div>
        <div class="card-body">
          {% if not invitedUsers %}
          <p class="text-lg mb-2 text-center">You have no friends invited!</p>

          <div class="row justify-content-center align-items-center m-4">
            <a
              href="{{ url_for('inviteFriends',event = eventId) }}"
              class="btn btn-info btn-icon-split btn-lg m-2"
            >
              <span class="icon text-white-50">
                <i class="fas fa-users"></i>
              </span>
              <span class="text">Invite Friends</span>
            </a>
          </div>
          {% else %} {% for invited in invitedUsers%}
          <form
            action="{{ url_for('modifyEvent',event = eventId) }}"
            method="POST"
          >
            <div class="col-xl-12 col-md-6 mb-1">
              <div class="card border-bottom-info border-0 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="font-weight-bold text-info text-uppercase mb-1"
                      >
                        {{invited['username']}}
                      </div>
                    </div>
                    <a>
                      <input
                        type="text"
                        name="friendId"
                        value="{{invited['userId']}}"
                        hidden="true"
                      />
                      <input
                        type="submit"
                        value="Uninvite"
                        class="btn btn-secondary btn-sm"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% endfor %}
          <div class="row justify-content-center align-items-center m-4">
            <a
              href="{{ url_for('inviteFriends',event = eventId) }}"
              class="btn btn-info btn-icon-split btn-lg m-2"
            >
              <span class="icon text-white-50">
                <i class="fas fa-users"></i>
              </span>
              <span class="text">Invite More Friends</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- End of Main Content -->
