{%extends "layout.html"%} {%block content%}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Friend Requests</h1>
  <p class="mb-4">Here you can view and accept friend requests.</p>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% for request in current_user["friendRequests"] %}

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {{request["requesterUsername"]}}
          </h6>
        </div>
        <div class="card-body">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            {% set route = "/docs/pfp/" ~ request["requesterID"] %}
            <img class="rounded-circle" src={{route}} alt="..." width="100" />
            <div>
              <a href="#" class="btn btn-success btn-circle btn-lg">
                <i class="fas fa-check"></i>
              </a>
              <a href="#" class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End of Main Content -->

{%endblock%}
